<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Loan Department">
    <classes>
      <class name="Introduction.Intro"/>
      <class name="Introduction.Intro1"/>
    </classes>
  </test> 
  
  <test thread-count="5" name="Home Loan">
  	<classes>
  	 <class name="Introduction.RemoveMethodfromExecution">
  	 	<methods>
  	 		<exclude name="API.*"/><!-- it removes the method from execution -->
  	 	</methods>
  	 	</class>
  	 	</classes>
  </test>
</suite> 
